/* MonthlySummaryForm.css */

.summary-form-container {
  width: 1100px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-top: 20px;
  height: 100%;
  flex-grow: 1
}

.summary-form-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}

.summary-form {
  display: flex;
  width: 350px;
  margin-bottom: 20px;
  padding: 0;
  margin: 0;
}

.form-label {
  margin-bottom: 10px;
  font-weight: bold;
}
.summary-form-group {
  display: flex;
  width: 500px;
}
.summary-form-group .summary-form-input {
  width: 70%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.summary-form-button {
  height: 30px;
  margin-top: 25px;
}

.error-message {
  color: #d9534f;
  font-weight: bold;
}

.summary-results {
  margin-top: 20px;
}

.summary-results-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

.summary-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.summary-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.chart-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-title {
  font-size: 1.2rem;
  color: #333;
  margin-right: 20px;
}
.summary-chart-title {
  margin: 0;
}
.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
  }
  
  .chart-container.visible {
    opacity: 1;
  }
  
  .chart {
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    height: auto;
  }

